@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden !important;
}

.navbar {
  height: 10vh !important;
  width: 100% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.navbar.navbar-vertical {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  height: 100vh !important;
  width: 10vw !important;
  position: fixed !important;
}

.navbar.navbar-vertical .navbar-links {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  height: 30%;
}

.navbar .logo {
  font-size: 1.5rem !important;
  text-decoration: none !important;
}

.navbar .logo.logo-small {
  font-size: 1rem !important;
}

.navbar .logo.logo-big {
  font-size: 2rem !important;
}

.navbar.navbar-dark {
  color: #f5f5f5;
}

.navbar.navbar-dark a {
  color: #f5f5f5;
}

.navbar.navbar-light {
  color: #333333;
}

.navbar.navbar-light a {
  color: #333333;
}

.navbar .navbar-links {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  width: 20% !important;
  list-style: none !important;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.navbar .navbar-links a {
  text-decoration: none !important;
  opacity: 0.7 !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

.navbar .navbar-links a:hover {
  opacity: 1 !important;
}

.navbar .navbar-links.navbar-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.navbar .burger {
  width: 25px !important;
  height: 30px !important;
  background-color: transparent !important;
  border: none !important;
  cursor: pointer !important;
  display: none !important;
}

.navbar .burger div {
  height: 3px !important;
  width: 100% !important;
  background-color: lightcoral;
  margin: 4px 0px !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

.navbar .burger.burger-active .line1 {
  -webkit-transform: rotate(45deg) translate(3px, 5px) !important;
          transform: rotate(45deg) translate(3px, 5px) !important;
}

.navbar .burger.burger-active .line2 {
  opacity: 0 !important;
}

.navbar .burger.burger-active .line3 {
  -webkit-transform: rotate(-45deg) translate(5px, -7px) !important;
          transform: rotate(-45deg) translate(5px, -7px) !important;
}

.navbar-dark .burger div {
  background-color: #f5f5f5 !important;
}

.navbar-light .burger div {
  background-color: #333333 !important;
}

.navbar-light .search button {
  border-radius: 5px !important;
  padding: 5px !important;
}

.input {
  border-radius: 10px !important;
  padding: 5px !important;
  border: none !important;
}

.input.input-light {
  border: 1px gainsboro solid !important;
  color: #666666 !important;
  background-color: white !important;
}

.input.input-dark {
  border: 1px #333333 solid !important;
  color: gainsboro !important;
  background-color: #666666 !important;
}

.input.input-success {
  border: 1px #8cd989 solid !important;
  color: #048511 !important;
  background-color: #bdffbe !important;
}

.input.input-danger {
  border: 1px #d98989 solid !important;
  color: #850404 !important;
  background-color: #ffbdbd !important;
}

.input.input-warning {
  border: 1px #d9c489 solid !important;
  color: #856404 !important;
  background-color: #ffeebd !important;
}

.input.input-info {
  border: 1px #89c6d9 solid !important;
  color: #045c85 !important;
  background-color: #bdeaff !important;
}

.bg-light {
  background-color: #f5f5f5 !important;
}

.bg-dark {
  background-color: #444444 !important;
}

.bg-success {
  background-color: #1adb3e !important;
}

.bg-danger {
  background-color: #eb1e1e !important;
}

.bg-warning {
  background-color: #eba71e !important;
}

.bg-info {
  background-color: #1ebbeb !important;
}

.text {
  padding: 10px;
  color: #333333 !important;
}

.text.text-success {
  color: #1adb3e !important;
}

.text.text-success a {
  color: #1adb3e;
}

.text.text-danger {
  color: #eb1e1e !important;
}

.text.text-danger a {
  color: #eb1e1e;
}

.text.text-warning {
  color: #eba71e !important;
}

.text.text-warning a {
  color: #eba71e;
}

.text.text-info {
  color: #1ebbeb !important;
}

.text.text-info a {
  color: #1ebbeb;
}

.text-success {
  color: #1adb3e !important;
}

.text-success a {
  color: #1adb3e !important;
}

.text-danger {
  color: #eb1e1e !important;
}

.text-danger a {
  color: #eb1e1e !important;
}

.text-warning {
  color: #eba71e !important;
}

.text-warning a {
  color: #eba71e !important;
}

.text-info {
  color: #1ebbeb !important;
}

.text-info a {
  color: #1ebbeb !important;
}

.heading {
  padding: 10px !important;
  border-bottom: 1px black solid !important;
  margin-bottom: 10px !important;
}

.heading.heading-default {
  color: #333333 !important;
  border-color: #d3d3d3 !important;
}

.heading.heading-success {
  color: #1adb3e !important;
  border-color: #8cd989 !important;
}

.heading.heading-danger {
  color: #eb1e1e !important;
  border-color: #d98989 !important;
}

.heading.heading-warning {
  color: #eba71e !important;
  border-color: #d9c489 !important;
}

.heading.heading-info {
  color: #1ebbeb !important;
  border-color: #89c6d9 !important;
}

.alert {
  padding: 10px !important;
  border-radius: 5px !important;
  margin-bottom: 10px !important;
  text-decoration: none !important;
}

.alert.alert-default {
  border: 1px #d3d3d3 solid !important;
  background-color: #f5f5f5 !important;
  color: #333333 !important;
}

.alert.alert-success {
  border: 1px #8cd989 solid !important;
  background-color: #bdffbe !important;
  color: #048511 !important;
}

.alert.alert-danger {
  border: 1px #d98989 solid !important;
  background-color: #ffbdbd !important;
  color: #850404 !important;
}

.alert.alert-warning {
  border: 1px #d9c489 solid !important;
  background-color: #ffeebd !important;
  color: #856404 !important;
}

.alert.alert-info {
  border: 1px #89c6d9 solid !important;
  background-color: #bdeaff !important;
  color: #045c85 !important;
}

.btn {
  padding: 10px !important;
  border-radius: 10px !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
  cursor: pointer !important;
  text-decoration: none !important;
  border: none !important;
}

.btn.btn-default {
  border: 1px #d3d3d3 solid !important;
  color: #333333 !important;
  background-color: #f5f5f5 !important;
}

.btn.btn-success {
  color: white !important;
  background-color: #1adb3e;
}

.btn.btn-danger {
  color: white !important;
  background-color: #eb1e1e;
}

.btn.btn-warning {
  color: white !important;
  background-color: #eba71e;
}

.btn.btn-info {
  color: white !important;
  background-color: #1ebbeb;
}

.btn:hover {
  opacity: 0.8 !important;
}

.btn-default:hover {
  opacity: 1 !important;
  background-color: lightgray !important;
}

.btn:active {
  opacity: 0.6 !important;
  -webkit-transition: all 0s ease-in-out !important;
  transition: all 0s ease-in-out !important;
}

@media screen and (max-width: 1280px) {
  .navbar .navbar-links {
    width: 30% !important;
  }
}

@media screen and (max-width: 1024px) {
  .navbar .navbar-links {
    width: 40% !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar .navbar-links {
    position: absolute !important;
    height: 90vh !important;
    width: 50% !important;
    right: 0 !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    top: 10vh !important;
    -webkit-transform: translateX(100%) !important;
            transform: translateX(100%) !important;
  }
  .navbar.bg-light .navbar-links {
    background-color: #f5f5f5;
  }
  .navbar.bg-dark .navbar-links {
    background-color: #444444;
  }
  .navbar .burger {
    display: inline-block !important;
  }
}

span.quote {
  background-color: #ffeebd;
  color: #eb1e1e;
}
/*# sourceMappingURL=stylard.css.map */